# ==========================================================================
#  APLICACIÓN
# ==========================================================================
NODE_ENV=development
PORT=3000
# Prefijo global de la API -> /api/v1/...
API_PREFIX=api/v1
# Orígenes permitidos por CORS (separados por coma). Usa * para permitir todos.
CORS_ORIGINS=http://localhost:4200,http://localhost:3000

# ==========================================================================
#  BASE DE DATOS  ->  elige el motor aquí
#  Valores válidos: mongodb | postgres | mysql
# ==========================================================================
DATABASE_TYPE=mongodb

# --- Si DATABASE_TYPE=mongodb ---
MONGODB_URI=mongodb://localhost:27018/ninetysix

# --- Si DATABASE_TYPE=postgres | mysql (Prisma) ---
# postgres: postgresql://user:pass@localhost:5433/ninetysix?schema=public
# mysql:    mysql://ninetysix:ninetysix@localhost:3307/ninetysix
DATABASE_URL=mysql://ninetysix:ninetysix@localhost:3307/ninetysix

# ==========================================================================
#  AUTENTICACIÓN (JWT)
# ==========================================================================
JWT_ACCESS_SECRET=cambia-esto-por-un-secreto-largo-y-aleatorio
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=cambia-esto-por-otro-secreto-distinto-y-aleatorio
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10

# ==========================================================================
#  TIEMPO REAL (Socket.IO)  ->  actívalo aquí
# ==========================================================================
ENABLE_SOCKETS=false

# ==========================================================================
#  RATE LIMITING (throttler)
# ==========================================================================
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
